p {
    color: rgb(1, 26, 17);
    font-family: Arial, Helvetica, sans-serif;

}
img{
    width: 400px;
    height: 400px;
    border: 3px solid rgb(0, 0, 0); 
    display: flex;
}
h1{
    font-family: Arial, Helvetica, sans-serif;


}
header {
    text-align: center;
    background: rgb(185, 98, 15); 
    color: rgb(31, 17, 0);
    padding: 30px;
    border-radius: 15px; /* на скок углы круглые */
    margin-bottom: 30px; /* отступ снизу самой этой */
    font-weight: 700;
}